@using EntityLayer.Concrete
@model IEnumerable<Category>

<table class="table table-striped projects">
    <thead>
        <tr>
            <th>
                Kategori Adı
            </th>
            <th>
                Durum
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @item.CategoryName
    </td>

    <td>
        <span class="badge badge-danger">@item.CategoryStatus</span>

    </td>
    <td class="project-actions text-right">

        <a class="btn btn-primary btn-sm" href="/AdminCategory/CategoryActive/@item.CategoryID">
            <i class="fas fa-check">
            </i>
            Aktif Et
        </a>
    </td>
</tr>}
    </tbody>
</table>

