

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
<br />
@*<h3><strong>FEZA SUNİ DERİ</strong></h3>*@
<br />
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <a href="/Announcement/Index/">
                            <lord-icon src="https://cdn.lordicon.com/kjsfgazx.json"
                                       trigger="loop"
                                       colors="primary:#121331"
                                       style="width: 100px; height: 100px">

                            </lord-icon>
                        </a>
                        @*<i class='fas fa-volume-up' style='font-size:70px;color:white'></i>*@
                        <br />
                    </div>
                    <a class="small-box-footer">DUYURULAR</a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <a href="/ExtensionNumber/Index/">
                            <lord-icon src="https://cdn.lordicon.com/hcndxtmn.json"
                                       trigger="hover"
                                       style="width:100px;height:100px">
                            </lord-icon>

                            @*<i class="fa fa-phone-square-alt" style="font-size:70px;color:white"></i>*@
                         </a>
                    </div>
                    <a class="small-box-footer">DAHİLİ NUMARALAR</a>
                    @*<a href="#" class="small-box-footer">DAHİLİ NUMARALAR <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <a href="/ImageFood/IndexFood">
                            <lord-icon src="https://cdn.lordicon.com/qqovtphs.json"
                                       trigger="hover"
                                       style="width: 100px; height: 100px">
                            </lord-icon>
                            @*<i class='fas fa-hamburger' style='font-size:70px;color:white'></i>*@
                        </a>
                    </div>
                    <a class="small-box-footer">YEMEK LİSTESİ</a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <a href="/NewEmployee/Index/">
                            <lord-icon src="https://cdn.lordicon.com/dzsrunpu.json"
                                       trigger="hover"
                                       style="width: 100px; height: 100px">
                            </lord-icon>
                            @*<i class='fas fa-briefcase' style='font-size:70px;color:white'></i>*@
                         </a>
                    </div>
                    <a class="small-box-footer">YENİ İŞ BAŞI</a>
                </div>
            </div>
            <!-- ./col -->
        </div>
    </div>
</section>



