<div class="image">
    <img src="@ViewBag.Imge" class="img-circle elevation-2" alt="User Image">
</div>
<div class="info">
    <a class="d-block">@ViewBag.n @ViewBag.ln</a>
    <small class="d-block" style="color:white">
        @ViewBag.t
    </small>
</div>
