@using EntityLayer.Concrete
@model List<Department>
@{ ViewBag.Title = "DepartmentIndex";
    Layout = "~/Views/Shared/_SiteLayout.cshtml"; }
<br />
<div class="card">
    <div class="card-header">
        <h3 class="card-title"><strong>Departmanlar</strong></h3>
        <br />
        
        <div class="card-tools">
            <a class="btn btn-outline-primary btn-sm" href="/AdminDepartment/AddDepartment/">
                <i class="fas fa-sync-alt fa-spin">
                </i>
                Departman Ekle
            </a>
            <button type="button" class="btn btn-outline-primary" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th>
                        Departman Adı
                    </th>
                    <th>
                        Durum
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
    <tr>
        <td>
            @item.DepartmentName
        </td>

        <td>
            @if (@item.DepartmentStatus == Status.Aktif)
            {
<span class="badge badge-success">@item.DepartmentStatus</span> 
            }
else
{
<span class="badge badge-danger">@item.DepartmentStatus</span>
            }
        </td>

    </tr>
    }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>