@using EntityLayer.Concrete
@model List<ImageFile>

@{ ViewBag.Title = "FoodIndex";
    Layout = "~/Views/Shared/_SiteLayout.cshtml"; }

<br />
<div class="card">
    <div class="card-header">
        <h3 class="card-title"><strong>Yemek Listesi</strong></h3>
        <br />

        <div class="card-tools">
            <a class="btn btn-primary btn-sm" href="/Image/AddImageFood/">
                <i class="fas fa-folder">
                </i>
                Yemek Listesi Ekle
            </a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th>
                        Resim
                    </th>
                    <th>
                        Yemek Listesi
                    </th>

                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
        <td>
            <ul class="list-inline">
                <li class="list-inline-item">
                <img  class="table-avatar" src="@item.ImagePath" alt="Feza">
                </li>
            </ul>
        </td>
        <td>
            @item.ImageName
        </td>
        <td class="project-actions text-right">

            <a class="btn btn-info btn-sm" href="/Image/EditImageFood/@item.ImageID">
                <i class="fas fa-pencil-alt">
                </i>
                Güncelle
            </a>
        </td>
    </tr>}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>