@model EntityLayer.Concrete.Announcement

@{
    ViewBag.Title = "AnnouncementDetail";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<style>
    #container {
        
        justify-content: center;      
    }
</style>
<br />
<div class="row" id="container">
    <div class="col-md-6">
        <!-- Box Comment -->
        <div class="card card-widget">
            <div class="card-header">
                <strong><a>@Model.AnnouncementName</a></strong>
                <div class="card-tools">
                    <strong><a>@(((DateTime)Model.AnnouncementDate).ToString("dd MMM yyyy"))</a></strong>
                </div>
            </div>
            <div class="card-body">
                @if (Model.AnnouncementImage != null)
                {
                    <img class="img-fluid pad" src="@Model.AnnouncementImage" alt="Photo">
                }
                else
                {
                    <img class="img-fluid pad" src="~/AdminLTE-3.0.4/dist/img/Wallpaper.png" alt="Photo">
                }
            </div>
            <div class="col-lg-12">
                <div class="card card-widget">
                    <div class="card-body">
                        <p>
                            @Model.AnnouncementContent
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>